.header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 172px;
    @media(max-width:1400px){
        padding-bottom: 101px;
    }
    @media(max-width:1250px){
        padding-bottom: 40px;
    }
    @media (max-width: 1250px){
        padding-bottom: 0px;
    }
    @media(max-width:1024px){
        display: none;
    }
    &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
} 

.logo{
    margin-left: 11px;
    background-color: $black;
    padding: 2.3rem 1.7rem;
    // margin-right: 158px;
    &__item{
        background-image: url(..//..//..//img/svg/HOMEFOR.svg);
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
        width: 145px;
        height:23px ;
    }
}

.menu{
    display: block;
    position: relative;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin-left: 8px;
    margin-top: 10px;
    &::before,
    &::after{
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        transition: 0.2s ease;
        background-color: $white;
        position: absolute;
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    span{
        background-color: $white;
        position: absolute;
        left: 0;
        width: 62%;
        top: 10px;
        left: 0;
        height: 1px;
        transition: 0.2s ease;
    }
    &:hover{
        &::after,
        &::before,
        span{
            background-color: $light;
        }
    }
}

.nav{
    display: flex;
    &-item{
        list-style-type: none;
        margin-left: 48px;
        @media(max-width:1100px){
            margin-left: 20px;
        }
        &__link{
            text-decoration: none;
            color: $white;
            transition: 0.2s ease;
            &:hover{
                color: $light;
            }
        }
    }
}

.header-city{
    margin-right: 104px;
    @media(max-width:1100px){
        margin-right: 50px;
    }
    &__text{
        color: $white;
        position: relative;
        &::before{
            content: "";
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAVCAYAAACZm7S3AAABPklEQVQ4jY2TQSuEURSG3xmyQ1IjKywUVibMSsrWH5gfgB9g7x/4D4qVhQULJVJMmZWFFbLQKCkpUVgoHt3c21yn+33fvHXq65zz3Pver3MExNENrADHwCt/+gBOgVWgJ+6PwSngmnxd+b5/8DTwVgAGPQMTAXZWbxJNTWALOAd+TO3ScQ5eNoUHoGb+Rc3nY9Vd4cQkLRhizjg4cMkXYzUFhmhEvU9lSQNq61b5uouqFQd/RonxAngs+n53Vs4iK+5NsxmWq+bNTXfzbnRaSdKepBlzY1XSvq8HHZaAPv+WwaiApIaklqRRSQsG/JI0EiytdTRbbW3E49kFXHQItoBeuxiTfoPy9A3Mp7YqNapW61krGWInAzwCykVwP3BvwEegYnuzZnjRwEupvrwl2PTgdlZPHjzkd3g4WQf9AsBviJ1UnF/+AAAAAElFTkSuQmCC");
            position: absolute;
            width: 15px;
            height: 21px;
            left: -27px;
            top: -3;
            display: block;
        }
    }
}

.header-tel{
    &__link{
        position: relative;
        text-decoration: none;
        color: $white;
        &::before{
            content: "";
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAABM0lEQVQ4jZ2Tu0oDQRiFvyQQKwUT1MoHUIyVIARURLCwN0jeIWArvoVNLHwJG+0tBEsvpFWsxGARrbzAkUl2IcSZf505MMXuGb4Z/nMGSQ1Jd/qrE0mkLAJAp4GkqRRoGWjg1wywG/BMOeiXsaGVAi1JegYWA/47MA98xt60Z/huBBtx9xxBrw1/ADykQC8M/xB4iYWWhr0ajWBpwvsA5mLnmd/UqevxpoGjWOBQWWGrrgWeB/AjaTu2/OMfB8bLWk2FunVugLcm9tYlNSVViqA1SY8B8Lek42xU+5L62f9XSaeSdvID8vTHtQJcAbOBGN6AesDrA2c+qNM6cGmATZUD5g2wCTylQIuSrBnhBfXfmri6+XrsVUypXeodSb0C5m0oqCKtAXtAE1gGFoAqcA+0fwE96qemVgAOlwAAAABJRU5ErkJggg==");
            position: absolute;
            width: 21px;
            height: 21px;
            left: -41px;
            top: 0;
            display: block;
        }
    }
}

.header-mobile{
    display: none;
    justify-content: space-between;
    margin: 0 15px;
    position: relative;
    @media(max-width:1024px){
        display: flex;
        padding-bottom: 75px;
    }
    &-menu{
        margin-top: 10px;
        background: $white;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        &__menu{
        display: block;
        position: relative;
        width: 16px;
        height: 15px;
        cursor: pointer;
        margin-left: 10px;
        margin-top: 11px;
    &::before,
    &::after{
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        transition: 0.2s ease;
        background-color: $black;
        position: absolute;
    }
    &::before{
        top: 0;
    }
    &::after{
        bottom: 0;
    }
    span{
        background-color: $black;
        position: absolute;
        left: 0;
        width: 100%;
        top: 7px;
        left: 0;
        height: 1px;
        transition: 0.2s ease;
            }
        }
    }
    &-logo{
        background-color: $black;
        width: 96px;
        height: 44px;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        &__item{
            background-image: url(..//..//..//img/svg/HOMEFOR.svg);
            background-size: 71px 12px;
        }
    }
    &-tel{
        margin-top: 10px;
        &-item{
            background: $white;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &__link{
            background-image: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA90lEQVQ4jZXTPS+EQRTF8d+SKMRjO4tGo/US0akk+AQiUW+j8gUUQqP0BRRKoiEqCVvpNaJXUWhEomLJxKw8mQzG6eZM7n/O3LnTmJ2aa2MflS+9YhIPCtSXFAcNYrWkWARUGX/tP4DHjL+A8VLAbcZvYKYUcJnxr3FRCjjCR+IfoFsKuMdZ4u+gWQoI2sJbzZ/ACQZKAXfYS/aWcY7huA6NXcRIDtCL3UkgK7jBemxqJ07oFTYCLIxyvaAZX2X+r+hRL/UEQc9YyiT5SVUK6EFC9N2ksVnlAEHv2MY0TjNz8n2F/tHW2G8HPOEYh7U/E37rUCjG5iehgSqPuRMkCwAAAABJRU5ErkJggg==");
            background-size: 16px 16px;
        } 
    }

}