<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HomeFor</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="..//img/favicon/logo.svg" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" href="styles/main.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
            </style>
    </head>
    <body>
        <section class="section-main">
            @@include("../blocks/modules/header/header.html")
            <div class="secion-main-image">
                <div class="block-image">
                    <img src="..//img/image.png" alt="" class="lol">
                </div>
                <div class="block-image">
                    <img src="..//img/image.png" alt="" class="lol">
                </div>
                <div class="block-image">
                    <img src="..//img/image.png" alt="" class="lol">
                </div>
            </div>
           
            <div class="wrapper">
                <div class="main">
                    <div class="main-text">
                            <h1 class="main-text__title">
                                 Жилой комплекс HOMEFOR  -  это жизнь с комфортом
                            </h1>
                            <p class="main-text__description">
                                Мы охватываем все важные этапы проектирование и строительство<br>дома, а  также повседневная эксплуатация после окончания.
                            </p>
                        <a href="#" class="btn">подробнее</a>
                    </div>
                </div>
            </div>
        </section>
       <section class="section-filters">
           <div class="wrapper">
            <div class="section-filters-item">
                <a class="btn-filter" href="#"><span class="btn-filter__text">Тип объекта</span> </a>
                <a class="btn-filter" href="#"><span class="btn-filter__text">Район</span></a>
            </div>
            <div class="filter-item">
              <div class="section-filters-item">
                <div class="filter-enter">
                    <div class="filter-enter-text"> Площадь</div>
                    <div class="filter-enter-data">
                        <label>
                            <input type="text"  class="filter-enter-data__input">
                             <span class="filter-enter-data__text">м2</span>
                    </div>
                </div>
              </div>
              <div class="section-filters-item">
                <div class="filter-enter">
                    <div class="filter-enter-text">Цена за м2</div>
                    <div class="filter-enter-data">
                        <label>
                            <input type="text"  class="filter-enter-data__input">
                             тыс.
                    </div>
                    </div>
                </div>
              </div>
              <div class="filter-slider">
                    <div class="form-group">
                        <p class="form-group__text">0</p>
                        <output  for="fader" class="range-number" id="volume">0</output>
                        <input type="range"  min="0" max="1000" value="0" id="fader"  class="range" oninput="outputUpdate(value)">
                        <p class="form-group__text">1000</p>
                    </div>
                    <div class="form-group">
                        <p class="form-group__text">0</p>
                        <output  for="fader" class="range-number" id="volume">0</output>
                        <input type="range"  min="0" max="1000" value="0" id="fader"  class="range" oninput="outputUpdate(value)">
                        <p class="form-group__text">98000</p>
                    </div>
                    <!-- <div class="form-group">
                        <p class="form-group__text">0</p>
                        <div class="range-number"></div>
                        <input type="range"  min="0" max="98000" value="0" class="range"  ">
                      <p class="form-group__text">98000</p>
                    </div>   -->
                  </div>
                  <div class="filter-bottom">
                    <a class="filter-bottom__link filter-bottom__reset" href="#">Сбросить фильтры</a>
                    <a class="filter-bottom__link filter-bottom__show btn" href="#">показать</a>
                </div>
            </div>
       </section>
       <section class="section-catalog">
           <div class="wrapper">
               <h2 class="section-catalog__title">Загородные дома</h2>
               <p class="section-catalog__description">Наши дома расположились в уютных районах Екатеринбурга:<br>
                Верх-Исетский район, Железнодорожный район, Чкаловский район.</p>
                <div class="catalog-item">
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/image-2.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом “Брусника”</h3>
                                <p class="card-image-text__address">ул. Карла Маркса, 60, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    200 м2
                                </div>
                                <div class="card-description__areas">
                                    10 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>7 005 456 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/trendis.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом  “Трендис”</h3>
                                <p class="card-image-text__address">ул. Урицкого, 13, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    500 м2
                                </div>
                                <div class="card-description__areas">
                                    12 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>10 000 234 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img" >
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/ponorama.png" alt="" class="card-image__img">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дома  “Панорома”</h3>
                                <p class="card-image-text__address">ул. Толстого, 340, Екатеринбург</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    150 м2
                                </div>
                                <div class="card-description__areas">
                                    13 сот
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 045 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                </div>
           </div>
       </section>
       <section class="section-secondcatalog">
           <div class="wrapper">
                <h2 class="section-catalog__title">Городские квартиры</h2>
                <p class="section-catalog__description">В каталоге квартир вы найдете актуальные планировки и цены.<br>Это те квартиры, которые есть в продаже сейчас.</p>
                <div class="secondcatalog-item">
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/Jukovka.png" alt="Дом  “Жуковка”">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом “Жуковка”</h3>
                                <p class="card-image-text__address">ул. Карла Маркса, 60, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    72 м2
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>3 006 435 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/Parachute.png" alt="Дом  “Парашют”">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом  “Парашют”</h3>
                                <p class="card-image-text__address">ул. Зорге, 160, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    112 м2
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>5 000 974 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/Spring.png" alt="Дом  “Весна”">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом  “Весна”</h3>
                                <p class="card-image-text__address">ул. Заречная, 120, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    100 м2
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>6 120 412 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/Pioner.png" alt="Дом  “Пионер”">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом  “Пионер”</h3>
                                <p class="card-image-text__address">ул. Карла Маркса, 120, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    90 м2
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>3 120 000 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/Manhhatan.png" alt="Дом  “Манхетен”">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом  “Манхетен”</h3>
                                <p class="card-image-text__address">ул. Карла Маркса, 60, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    87 м2
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>6 000 456 000 ₽</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="..//img/friendship.png" alt="Дом  “Дружба”">
                            <div  class="card-image-heart">
                                <div class="card-image-heart__img"></div>
                            </div>
                            <div class="card-image-text">
                                <h3 class="card-image-text__title">Дом  “Дружба”</h3>
                                <p class="card-image-text__address">ул. Прашина, 60, Екатеринбург</p>
                            </div>
                            
                        </div>
                        <div class="card-content">
                            <div class="card-description">
                                <div class="card-description__area">
                                    50 м2
                                </div>
                                <div class="card-description__function">
                                    с отдекой
                                </div>
                            </div>
                            <div class="card-content-price">
                                <h3>4 012 400 500 ₽</h3> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-load">
                    <button class="load-btn">Смотреть больше</button>
                </div>
           </div>
       </section>
       <section class="section-genplan">
           <div class="wrapper">
            <h2 class="section-genplan__title">Генплан</h2>
            <p class="section-genplan__description">На генплане вы можете посмотреть территорию покупки. В поселке все предусмотрено.<br>Здесь проведены необходимые коммуникации.Это место влюбляет в себя.</p>
            <div class="section-genplan-option">
                <div class="genplan-option">
                    <div class="genplan-option-item">
                        <button type="button" class="genplan-option-item__title active">Загородные дома</button>
                    </div>
                    <div class="genplan-option-item">
                        <button type="button"  class="genplan-option-item__title  ">Городские квартиры</button>
                    </div>
                </div>
            </div>
           </div>
           <div class="section-genplan__img">
               <div class="house-23 house">
                   <p class="genplan__number">Дом 23</p>
               </div>
               <div class="house-56 house">
                <p class="genplan__number">Дом  56</p>
                   <p class="genplan__text">Вы можете приобрести <br>10 567 457руб</p>
               </div>
               <div class="house-234 house">
                   <p class="genplan__number">Дом 234</p>
               </div>
               <div class="house-116 house">
                   <p class="genplan__number">Дом 116</p>
               </div>
               <div class="school-27 house">
                <p class="genplan__number">школа №27</p></div>
           </div>
       </section>
       <section class="section-advantages">
           <div class="wrapper">
               <div class="about">
                <h2 class="about__title">О компании</h2>
                <p class="about__description">Профессиональный оператор рынка элитной недвижимости с 2008 года.<br>
                 HOMEFOR – это сочетание репутации, многолетнего опыта и высокого уровня сервиса.<br> Компания заслужила доверие и признание профессиональных участников рынка 
                 </p>
               </div>
              <ul class="section-advantages-list">
                  <li class="section-advantages-item">
                      <div class="section-advantages-item__img sketch"></div>
                      <div class="section-advantages__text">Большой опыт<br>в строительстве</div>
                  </li>
                  <li class="section-advantages-item">
                    <div class="section-advantages-item__img price"></div>
                    <div class="section-advantages__text">Доступные цены</div>
                  </li>
                  <li class="section-advantages-item">
                    <div class="section-advantages-item__img time"></div>
                    <div class="section-advantages__text">Оперативные<br>сроки работы</div>
                  </li>
                  <li class="section-advantages-item">
                    <div class="section-advantages-item__img quality"></div>
                    <div class="section-advantages__text">Качественные<br>материалы</div>
                  </li>
              </ul>
           </div>
       </section>
       <section class="section-news">
           <div class="wrapper">
            <div class="section-news-title">
                <h2 class="section-news-title__title">Наши новости</h2>
                <p class="section-news-title__description">Узнай новости компании первым. Мы всегда остаемся в тренде.</p>
            </div>
            <div class="news-block">
                <div class="news-block-item">
                    <div class="news-block-item-text">
                        <div class="news-block-item-text__date">02.04.2020</div>
                        <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
                         и усиления контроля </div>
                        <button type="button" class="news-block-item-text__more load-btn">
                         Смотреть больше
                        </button>
                    </div>
                </div>
                <div class="news-block-item">
                 <div class="news-block-item-text">
                     <div class="news-block-item-text__date">02.04.2020</div>
                     <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
                      и усиления контроля </div>
                     <button type="button" class="news-block-item-text__more load-btn">
                      Смотреть больше
                     </button>
                 </div>
                </div>
                <div class="news-block-item">
                 <div class="news-block-item-text">
                     <div class="news-block-item-text__date">02.04.2020</div>
                     <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового&nbsp;качества 
                      и усиления контроля </div>
                     <button type="button" class="news-block-item-text__more load-btn">
                      Смотреть больше
                     </button>
                 </div>
                </div>
                <div class="news-block-item">
                    <div class="news-block-item-text">
                        <div class="news-block-item-text__date">02.04.2020</div>
                        <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
                         и усиления контроля </div>
                        <button type="button" class="news-block-item-text__more load-btn">
                         Смотреть больше
                        </button>
                    </div>
                </div>
                <div class="news-block-item">
                 <div class="news-block-item-text">
                     <div class="news-block-item-text__date">02.04.2020</div>
                     <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
                      и усиления контроля </div>
                     <button type="button" class="news-block-item-text__more load-btn">
                      Смотреть больше
                     </button>
                 </div>
                </div>
                <div class="news-block-item">
                 <div class="news-block-item-text">
                     <div class="news-block-item-text__date">02.04.2020</div>
                     <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового&nbsp;качества 
                      и усиления контроля </div>
                     <button type="button" class="news-block-item-text__more load-btn">
                      Смотреть больше
                     </button>
                 </div>
                </div>
                <div class="news-block-item">
                    <div class="news-block-item-text">
                        <div class="news-block-item-text__date">02.04.2020</div>
                        <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
                         и усиления контроля </div>
                        <button type="button" class="news-block-item-text__more load-btn">
                         Смотреть больше
                        </button>
                    </div>
                </div>
                <div class="news-block-item">
                 <div class="news-block-item-text">
                     <div class="news-block-item-text__date">02.04.2020</div>
                     <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового качества 
                      и усиления контроля </div>
                     <button type="button" class="news-block-item-text__more load-btn">
                      Смотреть больше
                     </button>
                 </div>
                </div>
                <div class="news-block-item">
                 <div class="news-block-item-text">
                     <div class="news-block-item-text__date">02.04.2020</div>
                     <div class="news-block-item-text__text">В 2018 году происходили изменения в главном законе долевого строительства ФЗ-214 для решения сложной задачи – строительства 120 млн квадратных метров жилья нового&nbsp;качества 
                      и усиления контроля </div>
                     <button type="button" class="news-block-item-text__more load-btn">
                      Смотреть больше
                     </button>
                 </div>
                </div>
            </div>
           </div>
       </section>
        @@include("../blocks/modules/footer/footer.html")
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
        $(function() {
            var links = $('.genplan-option-item > .genplan-option-item__title');
            links.on('click', function() {
                links.removeClass('active').closest('.tab').removeClass('active');
                $(this).addClass('active').closest('.tab').addClass('active');
            })
            .first().click();
        });
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        
        
<script>
    $('.catalog-item,.news-block').slick({
  dots: true,
  infinite: false,
  speed: 500,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
</script>
<script>
    $('.secion-main-image').slick({
        dots: true,
        speed: 500,
    });

</script>
<script>
    function outputUpdate(vol){
        let output = document.querySelector('#volume');
        output.value = vol;
        output.style.left = vol - 10 + 'px';
    }
</script>
        <script src="..//js/index.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
